/* Forum stuff starts here */
body{  
    height: auto;
    display: flex;
    align-items:normal; 
    justify-content: flex-start;
    background-color:#7e0a0a;
}

.container{
    margin-top: 100px;
    margin-bottom:50px;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
    width: 1000px;
    padding: 40px 32px;
    background-color:#e8e8e8;
    color:black;
}

.head{
    display:flex;
    background-color: black;
    padding: 5px;
    font-weight: bold;
    font-size:15px;;
    color:white;
}

.content{
    flex:80%;
}

.body .authors .username{
    font-size:18px;
    margin-top:30px;
}

.comment button{
    padding: 10px;
    font-weight:bold;
    cursor:pointer;
    margin-top: 5px;
    background-color: crimson;

    border-radius: 10px;
    color:#fff;
    border-color: black;
    cursor:pointer;
}

.comment-area{
    margin-top:25px;
    margin-bottom: 75px;
}

.comment-area textarea{
    width:100%;
    min-height: 100px;
    padding:10px;
}

/* Figure out how to fix cursor issues */
.comment-area input{
    float:right;
    padding:10px;
    border-radius: 10px;
    background-color: black;
    color:#fff;
    cursor:pointer;
}

.content {
    margin-top: 10px;
}

/* Change style to match website */
.postTitle{
    margin-block: 20px;
    font-size: 24px;
    text-align: center;
}

.blackBar{
    height: 10px;
    background-color: black;
    width: 100%;
}

.topic-container .body {
    background-color: lightgray;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.topic-container .body .authors .username{
    padding-top: 5px;
}

.comments-container .body {
    background-color: lightgray;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.comments-container .body .authors .username{
    padding-top: 5px;
}